@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #1D3371;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 150px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.amareloA{
    color: rgb(255, 238, 0);
}
.amareloB{
    color: rgb(255, 208, 0);
}